
/* utils */
.my-padding{
	padding:.5rem;
}

/* list */
.list-wrapper{
	--b-radius-s:5px;
	--b-radius-m:10px;
	--b-radius-l:15px;
	
	display:flex;
	flex-direction:column;
	max-width:600px;
	width:100dvw;
	margin:0 auto;
		
	height:100%;
	width:100%;
	
	header{
		text-align:center;
		padding:1rem;
	}
	
	.list{
		ul{
			list-style-type:none;
		}
		
		flex:1;
		width:100%;
		height:100%;
		place-self:center;
		overflow-y:auto;
		border-radius:var(--b-radius-m);
		/* padding:0.5rem; */

		.list-item{
			display:flex;
			gap:var(--b-radius-s);
			font-size:1.2rem;
			background-color:#ddd;
			border-radius:var(--b-radius-m);
			border-bottom:1px solid;
			
			.description{
				flex-grow:1;
				width: 100%;
				overflow-x: hidden;
				
				> *{
					width: 100%;
					overflow-x: inherit;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				h2{
					margin-bottom: var(--b-radius-s);
				}
			}
			.btn{
				display:grid;
				width:54px;
				aspect-ratio: 1/1;
				padding:.5rem;
				border:1px solid;
				
				border-radius:var(--b-radius-s);
				color:#c00;
				
				> *{
					place-self: center;
				}
				
			}
		}
	}
}