@import url('variables.css');

/* utils */
.my-padding{
	padding:.5rem;
}

/* list */
.list-wrapper{
	height: 100%;
	display:flex;
	flex-direction:column;
	
	header{
		text-align:center;
		padding:1rem;
	}
	
	ul.list{
		display:flex;
		flex-direction:column;
		flex-grow: 1;
		gap:var(--b-radius-s);

		width:100%;
		overflow-y:auto;
		border-radius:var(--b-radius-m);
		padding: var(--b-radius-m);

		.list-item{
			display:flex;
			gap:var(--b-radius-s);
			font-size:1.2rem;
			background-color:#ddd;
			border-radius:var(--b-radius-m);
			border-bottom:1px solid;
			
			.description{
				flex-grow:1;
				width: 100%;
				overflow-x: hidden;
				
				&::first-letter{
					text-transform: capitalize;
				}
				> *{
					width: 100%;
					overflow-x: inherit;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				h2{
					margin-bottom: var(--b-radius-s);
				}
			}
			.btn{
				display:grid;
				width:54px;
				aspect-ratio: 1/1;
				padding:.5rem;
				border:1px solid;
				
				border-radius:var(--b-radius-s);
				color:#c00;
				
				> *{
					place-self: center;
				}
				
			}
		}
	}
}